<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/login.css">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body>
	<div class="align">
		<div class="card">
			<div class="head">
				<div></div>
				<a id="login" class="selected" href="#">Login</a>
				<a id="register" href="register">Register</a>
				<a href="/news">Home</a>
				<div></div>
			</div>
				<form action="/login" method="POST">
					<div class="inputs">
						<div class="input">
							<input placeholder="Username" type="text" name="username">
							<i class="fas fa-user"></i>
						</div>
						<div class="input">
							<input placeholder="Password" type="password" name="password">
							<i class="fas fa-lock"></i>
						</div>
					</div>
					<button>Login</button>
				</form>
		</div>
	</div>
</body>
</html>