<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a comment</title>
	<link rel="stylesheet" href="/css/new.css">
</head>
<body>	
	<div class="container">
		<form action="/news/<%=post._id%>/comments" method = "POST">
			<div class="left-side">
				<img src="https://lh3.googleusercontent.com/proxy/VW-l9qYKBvS-EfxSGK5Rhp1v9vnmGpFIokOfc7qg3YZytxhgCl4uI1y2BsSJTIqF_O5dYr3t_KH-PesMGFEeZHlaIRZ7OCxVvQEuKLB4IbNvl94">
			</div>
			<div class="right-side">
				<h1>Add a new comment</h1>
				<div>
					<p><textarea name="comment[text]" placeholder="leave your comment here" id="comment"></textarea></p>
					<div class="buttons">
						<input type="submit" value="Submit" class="button">
  						<input type="reset" value="Clear" class="button" id="clear">
					</div>
				</div>
				<a href="/news" class="button" id="back">Go Back</a>
			</div>		
		</form>
	</div>
</body>
</html>